{% extends 'components/layouts/auth_layout.html.twig' %}

{% block title %}Create Account!{% endblock %}
{% block body %}
<h1>Create Account</h1>
  {{ form_errors(registrationForm) }}

  {{ form_start(registrationForm) }}
      {{ form_row(registrationForm.email) }}
      {{ form_row(registrationForm.plainPassword) }}
      {{ form_row(registrationForm.agreeTerms) }}

      <button type="submit" class="btn btn-default submit">Register</button>
  {{ form_end(registrationForm) }}
<div class="clearfix"></div>

<div class="separator">
  <p class="change_link">Already a member ?
    <a href="{{path('app_login')}}" class="to_register"> Log in </a>
  </p>
</div>
{% endblock %}
